
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    color: aliceblue;
    background-color: #FD6E0A;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400px;
}

header{
    background-color: antiquewhite;
        padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    font-size: 45px;
}
.logo span{
    color: orange;
    font-weight: 900px;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
}
nav .menu a{
    font size:20px;
    color: #474747;
    text-decoration:none;
}
