
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    color: aliceblue;
    background-color: #FD6E0A;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400px;
}

header{
    background-color :#f9e9de;
        padding-top: 50px;
        background: url('images/developer.png'),url('images/header_bg.png'), #f9e9de;
        background-repeat: no-repeat;
        background-position: top left, bottom right;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    font-size: 45px;
}
.logo span{
    color: orange;
    font-weight: 900px;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
}
nav .menu a{
    font size:20px;
    color: #474747;
    text-decoration:none;
}
#banner{
    margin: 47px 38px 0 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
}
#banner .banner-content h3{
    font-size: 20px;
    max-width: 400px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: bold;
    margin-top: 20px;
}
#banner .banner-content p{
    font-size: 24px;
    margin-top:25px;
}
#banner .banner-image{
    max-width: 585px;
    vertical-align: middle;
}
.about{
    width: 1280px;
    margin-top: 50px;
}
.about-me{
    width: 71%;
    max-width: 1140px;
    background-color: #f5e8de;
    margin: 0 auto;
    text-align: center;
    padding: 131px 156px;
}
.about-me h3{
    margin-bottom: 30px;
}
.about-me p{
     margin-bottom: 30px;
}
.name{
    display: flex;
    justify-content: space-around;
}
.name p{
    margin-bottom: 0;
}